<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fact-Web</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
</head>
<body>

    <header class="cabeca">
        <h2>LOGO</h2>

    </header>

    <main class="conteiner">
        <div class="anunciar">
            <h1>Detector de Fake News</h1>
            <h2>Descubra a Verdade em um Clique</h2>
            <button class="entrar">Entrar</button>
            <button class="informar">Mais Informs</button>
        </div>  
    </main>
    <script src="{{url_for('static', filename='javascript/script.js')}}"></script>
</body>
</html>